/**
  Main Styles
**/

/* Makeshift CSS Reset */
{
  margin: 0;
  padding: 0;
}

/* Tell the browser to render HTML5 elements as block */
header, footer, aside, nav, article {
  display: block;
}

body {
  margin: 0 auto;
  width: 940px;
  font: 13px/22px Helvetica, Arial, sans-serif;
  background: #f0f0f0;
}

h2 {
  font-size: 28px;
  line-height: 44px;
  padding: 22px 0;
}

h3 {
  font-size: 18px;
  line-height: 22px;
  padding: 11px 0;
}

p {
  padding-bottom: 22px;
}


/**
  Navigation Styles
**/
nav {
  position: absolute;
  left: 0;
  width: 100%;
  background: #4A4A4C;
}

nav ul {
  margin: 0 auto;
  width: 940px;
  list-style: none;
}


nav ul li {
  float: left;
}

  nav ul li a {
    display: block;
    margin-right: 20px;
    width: 140px;
    font-size: 14px;
    line-height: 44px;
    text-align: center;
    text-decoration: none;
    color: #777;
  }

    nav ul li a:hover {
      color: #fff;
    }

    nav ul li.selected a {
      color: #fff;
    }

    nav ul li.subscribe a {
      margin-left: 22px;
      padding-left: 33px;
      text-align: left;
      background: url("rss.png") left center no-repeat;
    }

/**
  Introduction Styles
**/

#introduction {
  margin-top: 66px;
  padding: 44px;

  background: rgb(90,167,84); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(90,167,84,1) 0%, rgba(97,196,25,1) 50%, rgba(90,167,84,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(90,167,84,1)), color-stop(50%,rgba(97,196,25,1)), color-stop(100%,rgba(90,167,84,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(90,167,84,1) 0%,rgba(97,196,25,1) 50%,rgba(90,167,84,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(90,167,84,1) 0%,rgba(97,196,25,1) 50%,rgba(90,167,84,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(90,167,84,1) 0%,rgba(97,196,25,1) 50%,rgba(90,167,84,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(90,167,84,1) 0%,rgba(97,196,25,1) 50%,rgba(90,167,84,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5aa754', endColorstr='#5aa754',GradientType=0 ); /* IE6-9 */

  /*
  background-size: 100%;
  border-radius: 22px;
  */

  /* background-size not implemented yet */
  -webkit-background-size: 100%;
  -o-background-size: 100%;
  -khtml-background-size: 100%;

  /* border-radious not implemented yet */
  -moz-border-radius: 22px;
  -webkit-border-radius: 22px;
}

#introduction h2, #introduction p¬†{
  width: 366px;
}

#introduction h2 {
  padding: 0 0 22px 0;
  font-weight: normal;
  color: #fff;
}

#introduction p {
  padding: 0;
  color: #d9f499;
}


/**
  Content Styles
**/
#content {
  display: table;
}

  #main-content {
    display: table-cell;
    width: 620px;
    padding-right: 22px;
  }


/**
  Sidebar Styles
**/
aside {
  display: table-cell;
  width: 300px;

  /* CSS gradient generator*/
  /* http://www.colorzilla.com/gradient-editor/ */
  background: -moz-linear-gradient(left,  rgba(224,224,224,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(224,224,224,0.65)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  rgba(224,224,224,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  rgba(224,224,224,0.65) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  rgba(224,224,224,0.65) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
  background: linear-gradient(to right,  rgba(224,224,224,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6e0e0e0', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */
}

  aside section {
    margin: 22px 0 0 22px;
    padding: 11px 22px;

    -moz-border-radius: 11px;
    -webkit-border-radius: 11px;

    background: -moz-linear-gradient(top,  rgba(173,173,173,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(173,173,173,0.65)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(173,173,173,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(173,173,173,0.65) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(173,173,173,0.65) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(173,173,173,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6adadad', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
  }

    aside section ul {
      margin: 0 0 0 22px;
      list-style: none;
    }

      aside section ul li a {
        display: block;
        text-decoration: none;
        color: #000;
      }

      aside section ul li a:hover {
        text-decoration: underline;
        cursor: auto
      }
/**
  Blog Post Styles
**/
.blog-post div {
  /*column-count: 2;*/
  /*column-gap: 22px;*/

  /* Column-count not implemented yet */
  -moz-column-count: 2;
  -webkit-column-count: 2;

  /* Column-gap not implemented yet */
  -moz-column-gap: 22px;
  -webkit-column-gap: 22px;
}

  .blog-post header {
    column-span: all;
  }

.blog-post img {
  margin: 22px 0;
  box-shadow: 3px 3px 7px #777;
  -webkit-box-shadow: 3px 3px 7px #777;
}


/**
  Comments Styles
**/

section#comments article:nth-child(2n+1) {
  padding: 21px;
  background: #E3E3E3;
  border: 1px solid #d7d7d7;

  /* border-radius not implemented yet*/
  -moz-border-radius: 11px;
  -webkit-border-radius: 11px;
}

/**
  Comment Form Styles
**/
form {
  display: block;
}

form p {
  display: table;
  margin-bottom: 22px;
  padding: 0 22px;
}

  form label {
    display: table-cell;
    width: 140px;
    padding-right: 20px;
    text-align: right;
    font-weight: bold;
    vertical-align: top;
  }

  form input.comment-form-input {
    display: table-cell;
    width: 300px;
    height: 20px;
    border: 1px solid #d7d7d7;
  }

  form textarea {
    width: 300px;
    height: 100px;
    border: 1px solid #d7d7d7;
  }

  form input[type="submit"] {
    margin-left: 162px;
  }
/**
  Footer Styles
**/
footer {
  position: absolute;
  left: 0;
  width: 100%;
  background: #222;
}

/**
  Shared Styles
**/
.top-section-border {
  margin-top: 21px;
  padding-top: 22px;
  border-top: 1px solid #d7d7d7;
}
